* {
	text-align: center !important;
}
body {
	margin: 20px;
}
h1,h2,h3,h4,h5,h6,p, label, input, .btn, .btn.active, select, option {
	color: #333;
}
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
::-moz-selection {
	background: #ccc;
}
::selection {
	background: #ccc;
}
canvas {
	border: 2px solid #ccc;
}
.btn-primary {
	color: #fff;
}
#uploadButton {
	display: block;
	border: 2px solid #339;
	background-color: #66c;
	color: #fff;
}
#uploadButton:hover {
	background-color: #339;
}
input[type=checkbox] {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}